.card{
    /* border: 1px solid black; */
    margin: 20px;
    padding: 50px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* display: flex; */
    align-items: center;
}
.title{
    color: blue;
}
.container{
    display: flex;
    width: 90%;
}